<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <listeners>
        <listener class-name="runner.ExtentReporterNgListener"/>
    </listeners>
    <test name="SolutionSelenium" verbose="3">
        <classes>
            <!--用例名称-->
            <class name="TestCase.Yun_Login_Test">
                <methods>
                    <include name="testLogin"/>
                </methods>
            </class> <!-- cases.LoginTests -->

            <!--用例名称-->
            <class name="TestCase.YunErp_Login_test">
                <methods>
                    <include name="logintest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- SolutionSelenium -->
</suite> <!-- Default Suite -->
